<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}диспетчеризация Нэфис{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">


</head>
<body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="{% url 'index' %}">Старт</a>
            <a class="navbar-brand" href="{% url 'table' %}">Таблица</a>
            <a class="navbar-brand" href="{% url 'bar_graph' %}">Диаграмма</a>
            <a class="navbar-brand" href="{% url 'inst_graph' %}">График</a>
{#            <a class="navbar-brand" href="{% url 'form' %}">Форма</a>#}
{#            <a class="navbar-brand" href="{% url 'form_test' %}">Тестовая форма</a>#}

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
             <li><a href="/admin/">Настройки</a></li>
            {% if user.is_authenticated %}
{#                {% trans 'Welcome,' %}#}
{#                <p>{% firstof user.get_short_name user.get_username %}</p>.#}
                <li><a href="{% url 'logout' %}">Выйти [{% firstof user.get_username %}]</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Войти</a></li>
            {% endif %}
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Поиск">
          </form>
        </div>
      </div>
    </nav>

    {% block content %}

    {% endblock %}
        <br>
        <br>
    <footer class="navbar-inverse navbar-fixed-bottom text-center">
      <p>«Все права защищены. ® spiderscada».</p>
    </footer>

    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/static/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
{#    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>#}
  </body>

</html>